<style>
    nav {
        display: flex;
        justify-content: space-around;
        background-color: #000;
        color: white;
        padding: 10px;
    }

    nav a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    nav a.active {
        text-decoration: underline;
    }
</style>
<nav>
    <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Contador</a
    >
    <a routerLink="/dragonball" routerLinkActive="active">Dragon Ball</a>
    <a routerLink="/dragonball-super" routerLinkActive="active"
        >Dragon Ball Super</a
    >
    <a routerLink="/hero" [routerLinkActive]="'active'">Hero</a>
</nav>
