<!-- <section class="py-5">
    <gifs-list [gifs]="gifService.trendingGifs()" />
</section> -->

<div
    class="h-screen grid grid-cols-2 overflow-y-scroll md:grid-cols-4 gap-4 pt-5"
    (scroll)="onScroll($event)"
    #groupDiv
>
    @for (group of gifService.trendingGifGroup(); track $index) {
    <div class="grid gap-4">
        @for (gif of group; track $index) {
        <div>
            <img
                class="h-full w-full rounded-lg object-cover"
                [src]="gif.url"
                [alt]="gif.title"
            />
        </div>
        }
    </div>
    }
</div>
