<section class="mt-5">
    <table class="table w-full">
        <thead>
            <tr>
                <th>#</th>
                <th>Icono</th>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Capital</th>
                <th>Población</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (country of countries(); track country.cca2; let index = $index) {
            <tr>
                <td>{{ index + 1 }}</td>
                <td>{{ country.flag }}</td>
                <td>
                    <img [src]="country.flags.svg" [alt]="country.name.common">
                </td>
            </tr>
            }
        </tbody>
    </table>
</section>